ADMIN_ID=your_admin_id
API_HASH=your_api_hash
API_ID=your_api_id
AUTO_SCAN=true_or_false
BOT_LANGUAGE=your_bot_language
BOT_TOKEN=your_bot_token
CHANNEL_ID=your_channel_id
COPYRIGHT_CHANNEL=your_copyright_channel
GROUP_ID=your_group_id
LOG_CHANNEL=your_log_channel
PYTHON_VERSION=your_python_version
REQUEST_GROUP=your_request_group
SEARCH_LIMIT=your_search_limit
SESSION_NAME=your_session_name
SESSION_STRING=your_session_string
